* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mochiy Pop P One", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#vanta {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

h1 {
  color: #fff;
  font-size: 50px;
  padding: 16px 15px;
  position: absolute;
  top: 10%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  text-shadow: 2px 2px rgba(51, 51, 51, 0.445);
  letter-spacing: 1px;
}

.wrapper {
  width: 400px;
  z-index: 2;
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.22),
    rgba(255, 255, 255, 0.25)
  );
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 63px;
}

.element {
  background: linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.192),
    rgba(231, 233, 233, 0.42)
  );
}

.wrapper i {
  cursor: pointer;
  font-size: 3px;
  position: absolute;
  left: 3%;
}

.wrapper.active header i {
  font-size: 30px;
}

.wrapper .input-part {
  margin: 20px 25px 30px;
}

.wrapper.active .input-part {
  display: none;
}

.input-part .info-txt {
  display: none;
  font-size: 17px;
  text-align: center;
  padding: 12px 10px;
  border-radius: 7px;
  margin-bottom: 15px;
}

.info-txt.error {
  display: block;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}

.info-txt.pending {
  color: #0c5460;
  background: #d1ecf1;
  border: 1px solid #bee5eb;
}

.input-part :where(input, button) {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
}

.input-part input {
  text-align: center;
  border: 1px solid #bfbfbf;
}

.input-part input:is(:focus, :valid) {
  border: 2px solid #43affc;
}

.input-part .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.separator::before {
  color: #000;
  font-size: 19px;
  padding: 0 15px;
  background: #fff;
}

.input-part button {
  color: #fff;
  cursor: pointer;
  background: #43affc;
}

.wrapper .weather-part {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper.active .weather-part {
  display: flex;
}

.weather-part img {
  width: 225px;
  max-width: 325px;
}

.weather-part .temp {
  display: flex;
  font-size: 60px;
  font-weight: 500;
}

.weather-part .temp .deg {
  font-size: 30px;
  margin: 5px 5px 0 0;
  display: block;
}

.weather-part .weather {
  font-size: 21px;
  text-align: center;
  margin: -5px 20px 15px;
}

.weather-part .location {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 17px;
}

.location i {
  font-size: 36px;
  position: absolute;
  top: 46.5%;
  left: 48.5%;
}

.weather-part .bottom-details {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #bfbfbf;
  justify-content: space-between;
}

.bottom-details .column {
  width: 100%;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column i {
  color: #43affc;
  font-size: 40px;
}

.column.humidity {
  border-left: 1px solid #bfbfbf;
}

.details .temp,
.humidity span {
  font-size: 18px;
  font-weight: 500;
  margin-top: -3px;
}

.details .temp .deg {
  margin: 0;
  font-size: 17px;
  padding: 4px 2px 0 1px;
}

.details p {
  font-size: 14px;
  margin-top: -6px;
}
